<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sarah Swift - Skills</title>

  </head>
  <body>

      <div class="about">
        <div class="grid content-grid">
          <div class="grid left-column">
            <img src="swifty.jpg" alt="" class="bubble" />

          </div>
          <div class="grid right-column">
            <h2>Get In Touch</h2>
            <br/>
            <div class="lists">
              <h3>Via <a href="mailto:sdossettswift@gmail.com?subject=GettingInTouch"> Email</a>
              </h3> <br/>
              <h3>
                Via <a href="http://www.linkedin.com/in/sarahdswift">LinkedIn</a>
              </h3><br/>
              <h3>
                Via <a href="http://www.github.com/sdossettswift">GitHub</a>
              </h3><br/>



            </div>

          </div>

        </div>

      </div>

    </div>




  </body>
</html>
