<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sarah Swift - Skills</title>

  </head>
  <body>

      <div class="about">
        <div class="grid content-grid">
          <div class="grid left-column">
            <img src="swifty.jpg" alt="" class="bubble" />

          </div>
          <div class="grid right-column">
            <h2>Get In Touch</h2><br/>
            <ul>
              <li><%= link_to 'GITHUB', href="http://www.github.com/sdossettswift"%></li><br/>
              <li><%= link_to 'LINKEDIN', href="http://www.linkedin.com/in/sarahdswift"%></li><br/>
              <li><%= link_to 'EMAIL', href="mailto:sdossettswift@gmail.com?subject=GettingInTouch"%></li><br/>

            </ul>

          </div>

        </div>

      </div>

    </div>




  </body>
</html>
