<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sarah Swift - Skills</title>

  </head>
  <body>

      <div class="about">
        <div class="grid content-grid">
          <div class="grid left-column">
            <img src="swifty.jpg" alt="" class="bubble" />

          </div>
          <div class="grid right-column">
            <h2>Languages, Frameworks, and Tools</h2>
            <div class="lists">
              <h3>Back End</h3>
              <p>
                Ruby, Ruby on Rails, PostgreSQL, SQLite, RESTful APIs, Test Driven Development, Relational Databases, MVC Architecture
              </p>


              <h3>Front End</h3>
              <p>
                HTML, CSS, Sass, Bootstrap, Material Design, JavaScript
              </p>

              <h3>Deployment and Integration</h3>
              <p>
                Heroku, TravisCi
              </p>
              <h3>Version Control</h3>
              <p>
                Git, GitHub
              </p>

            </div>

          </div>

        </div>

      </div>

    </div>




  </body>
</html>
