<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sarah Swift - Skills</title>

  </head>
  <body>

      <div class="about">
        <div class="grid content-grid">
          <div class="grid left-column">
            <img src="swifty.jpg" alt="" class="bubble" />

          </div>
          <div class="grid right-column">
            <h2>Education</h2>
            <div class="lists">
              <h3>The Iron Yard</h3>
              <p>
                Back End Rails Engineering, 2016
              </p>
              <h3>Baylor University School of Law</h3>
              <p>
              Juris Doctor, 2010
              </p>

              <h3>The University of the South</h3>
              <p>Bachelor of Arts, Magna Cum Laude, Religion , 2008</p>

            </div>

          </div>

        </div>

      </div>

    </div>




  </body>
</html>
