<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sarah Swift</title>

  </head>
  <body>

      <div class="about">
        <div class="grid content-grid">
          <div class="grid left-column">
            <img src="swifty.jpg" alt="" class="bubble" />

          </div>
          <div class="grid right-column">
            <h2>Pleasure to Meet You</h2>
            <p>
              I am Sarah Swift. I am a Texan, daughter, younger sister, licensed attorney, friend, amateur chef, wanderlust writer who is learning to code. You might call me a flibbertigibbet or a dilettante. My mom calls me "Princess Pineapple".   I call myself curious and happy.</p>
              <p>Though I live in Houston, my heart is in Sewanee, Tennessee, on a mountain where I played lacrosse, studied religion, learned to love bourbon, and finally got Shakespeare.</p>
              <p>
                I come from a long line of entertainers and I have been known to gather 60 carousers in less than 600 square feet. I live with my childhood best friend in Houston's Historic Sixth Ward. Our china cabinet is full of party hats which invariably come out when the punch bowl gets low.
              </p>
              <p>
                My itchy feet have taken me across northern Spain, up the Appalachian Trail, around the Annapurnas, and deep into the Grand Canyon. My most exciting adventure is the one I am on right now: creating the life of my dreams.
              </p>
              <h3><%= link_to 'See My Resume', href="/resume"%></h3>


          </div>

        </div>

      </div>

    </div>




  </body>
</html>
