@import "font-awesome-sprockets";
@import "font-awesome";

$mesa: #374040;
$celeste: #A0D6B4;
$darkceleste: #71B09F;
$flamingo: #DB0A5B;




$sans: 'Raleway', sans-serif;
$cursive: 'Parisienne', cursive;

*, *:before, *:after {
    box-sizing: border-box;
}

.header{
  min-height: 20vh;
}
.meat{
  min-height: 70vh;
}
.footer{
  min-height: 10vh;
}
.grid {
    font-size: 0;
    text-align: justify;
}

.grid > * {
    display: inline-block;
    text-align: left;
}

.grid:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.content-grid {
    max-width: 1024px;
}

.content-grid > * {
    vertical-align: top;
}

.content-grid .left-column {
    width:50%;
    position: relative;
}

.content-grid .right-column {
    width:50%;
    display: inline-block;
}


body{
  background-color: $celeste;
}


h1{
  font-family: $sans;
  font-weight: normal;
  font-size: 4rem;
  color: white;
  text-align: center;
  margin: 0;

}

h2 {
  font-family: $cursive;
  color: $flamingo;
  font-size: 2rem;
  margin-top: 10px;
  font-weight: normal;
  margin-bottom: 10px;
}

h3 {
  font-family: $sans;
  color: $flamingo;
  font-weight: normal;
  font-size: 1.2rem;
  margin: 0;

  a:link{
    color: $darkceleste;
  }
  a:visited{
    color: $darkceleste;
  }
  a:hover{
    color: white;
  }

}
p{
  font-family: $sans;
  color: $mesa;
  font-size: 1rem;
  font-weight: normal;
}

.nav {
  padding-top: 10px;
  padding-bottom: 30px;
}
nav > *{
  font-family: $sans;

}
ul{
  text-align: center;
  padding: 0;
  margin: 0;
}
li, li>*{
  display: inline;
  text-decoration: none;
  text-align: center;
  padding: 1%;
  font-family: $sans;
  color: $mesa;
  font-size: 1.5rem;

}
img{
  display: inline-block;
}

a:hover{
  color: white;
}

a:visited, a:link{
  text-decoration: none;

}
.bubble{
  border-radius: 50%;
  width: 87%;
  padding-left: 10px;

}
.footer{
  i{
    padding: 0 10px;
  }
  a:link{
    color: $darkceleste;
  }
  a:visited{
    color: $darkceleste;
  }
  a:hover{
    color: white;
  }
}
.footsie{
  background-color: $darkceleste;
  color: white;
  font-family: $sans;
  font-size: 1rem;
  text-align: center;
  font-weight: lighter;
  h4{
    font-weight: lighter;
    margin: 0;
  }
  i{
    color: $flamingo;
  }
}
.resume{
  text-align: center;
  width:100%;
}
.iframe{
  width: 200px;
}
