$mesa: #374040;
$celeste: #A0D6B4;
$darkceleste: #71B09F;
$flamingo: #DB0A5B;


$sans: 'Raleway', sans-serif;
$cursive: 'Parisienne', cursive;

*, *:before, *:after {
    box-sizing: border-box;
}

.grid {
    font-size: 0;
    text-align: justify;
}

.grid > * {
    display: inline-block;
    text-align: left;
}

.grid:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.content-grid {
    max-width: 1024px;
}

.content-grid > * {
    vertical-align: top;
}

.content-grid .left-column {
    width:50%;
    position: relative;
}

.content-grid .right-column {
    width:50%;
    display: inline-block;
}


body{
  background-color: $celeste;
}


h1{
  font-family: $sans;
  font-weight: normal;
  font-size: 5rem;
  color: white;
  text-align: center;
  margin: 0;

}

h2 {
  font-family: $cursive;
  color: $flamingo;
  font-size: 3rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-family: $sans;
  color: $flamingo;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;

}
p{
  font-family: $sans;
  color: $mesa;
  font-size: 1rem;
  font-weight: normal;
}

.nav {
  padding-top: 10px;
  padding-bottom: 30px;
}
nav > *{
  font-family: $sans;

}
ul{
  text-align: center;
  padding: 0;
  margin: 0;
}
li, li>*{
  display: inline;
  text-decoration: none;
  text-align: center;
  padding: 1%;
  font-family: $sans;
  color: $mesa;
  font-size: 1.5rem;

}
img{
  display: inline-block;
}

a:hover{
  color: white;
}

a:visited, a:link{
  text-decoration: none;

}
.bubble{
  border-radius: 50%;
  width: 87%;
  padding-left: 10px;

}
